npm i @kinde-oss/kinde-auth-nextjs
npx shadcn-ui@latest init
pnpm install lucide-react
npm install next-themes
npx shadcn-ui@latest add sheet
npx shadcn-ui@latest add card
npx shadcn-ui@latest add input
npx shadcn-ui@latest add pagination
npx shadcn-ui@latest add progress
npx shadcn-ui@latest add separator
npx shadcn-ui@latest add table
npx shadcn-ui@latest add tabs
npx shadcn-ui@latest add tooltip
npx shadcn-ui@latest add badge
npx shadcn-ui@latest add breadcrumb

npx shadcn-ui@latest add avatar

pnpm i -D prisma # to install prisma
pnpm i @prisma/client # to install prisma client
npx prisma init # to create the prisma folder
npx prisma db push  # to push the schema to the database

if any error try removing  prisma by
pnpm remove prisma @prisma/client  (also delete the prisma folder) and reinstall again from line 18 (also delete the prisma folder)

pnpm install swr
pnpm install @reach/dialog

npx shadcn-ui@latest add accordion

npx shadcn-ui@latest add badge button drawer drawercontent drawerdescription drawerheader drawertitle drawertrigger input label select selectcontent selectitem selecttrigger selectvalue textarea tooltip tooltipcontent tooltiptrigger
 